---
layout: default
refactor: true
# layout: page
toc: true
# The Home page layout
---

{% include lang.html %}
<p> </p>

{% assign all_pinned = site.posts | where: 'pin', 'true' %}
{% assign all_normal = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts on current page -->

{% assign visible_start = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign visible_end = visible_start | plus: paginator.per_page %}

{% if all_pinned.size > visible_start %}
  {% if all_pinned.size > visible_end %}
    {% assign pinned_size = paginator.per_page %}
  {% else %}
    {% assign pinned_size = all_pinned.size | minus: visible_start %}
  {% endif %}

  {% for i in (visible_start..all_pinned.size) limit: pinned_size %}
    {% assign posts = posts | push: all_pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_size = 0 %}
{% endif %}

<!-- Get normal posts on current page -->

{% assign normal_size = paginator.posts | size | minus: pinned_size %}

{% if normal_size > 0 %}
  {% if pinned_size > 0 %}
    {% assign normal_start = 0 %}
  {% else %}
    {% assign normal_start = visible_start | minus: all_pinned.size %}
  {% endif %}

  {% assign normal_end = normal_start | plus: normal_size | minus: 1 %}

  {% for i in (normal_start..normal_end) %}
    {% assign posts = posts | push: all_normal[i] %}
  {% endfor %}
{% endif %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
        {% assign card_body_col = '12' %}

        {% if post.image %}
          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}

          {% assign lqip = null %}

          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          <div class="col-md-5">
            <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
          </div>

          {% assign card_body_col = '7' %}
        {% endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

            <div class="card-text content mt-0 mb-3">
              <p>{% include post-description.html %}</p>
            </div>

            <div class="post-meta flex-grow-1 d-flex align-items-end">
              <div class="me-auto">
                <!-- posted date -->
                <i class="far fa-calendar fa-fw me-1"></i>
                {% include datetime.html date=post.date lang=lang %}

                <!-- categories -->
                {% if post.categories.size > 0 %}
                  <i class="far fa-folder-open fa-fw me-1"></i>
                  <span class="categories">
                    {% for category in post.categories %}
                      {{ category }}
                      {%- unless forloop.last -%},{%- endunless -%}
                    {% endfor %}
                  </span>
                {% endif %}
              </div>

              {% if post.pin %}
                <div class="pin ms-1">
                  <i class="fas fa-thumbtack fa-fw"></i>
                  <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                </div>
              {% endif %}
            </div>
            <!-- .post-meta -->
          </div>
          <!-- .card-body -->
        </div>
      </a>
    </article>
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
<div style="width: 32%;float:right;display: flex;">
  <img src="{{ 'assets/img/Profile copy 4.jpeg' | relative_url }}" alt="Garvit" onerror="this.style.display='none'" width="210" >
</div>
<div>
  <p>
    I am a second-year M.S. student in <a href="https://www.cs.utexas.edu/">Department of Computer Science</a> at the <a href="https://www.utexas.edu/">University of Texas at Austin</a>, advised by Prof. <a href="https://www.cs.utexas.edu/~harwath/">David Harwath</a> for my thesis. 
    Previously, I worked as a Data Scientist at <a href="https://www.sap.com/india/about/labs-india.html">SAP Labs India</a>, spearheading and developing custom machine learning and optimization solutions tailored to customers' needs.
      Prior to that, I completed my undergraduate (B.Tech) from <a href="https://www.iitbhu.ac.in/dept/eee" >Department of Electrical Engineering</a> at <a href="https://www.iitbhu.ac.in/">IIT (B.H.U) Varanasi</a>. 
    My B. Tech. project was based on Applications of Probabilistic Graphical Models under the guidance of <a href="https://sites.google.com/site/kvsrinivas/">Prof. K.V. Srinivas</a> and <a href="https://www.iitbhu.ac.in/dept/eee/people/sghosheee" >Prof. Sandip Ghosh</a>. 
    I also worked in <a href="https://sites.google.com/site/kunalnchaudhury/group?authuser=0">LISA Lab</a> with <a href="https://ee.iisc.ac.in/kunal-narayan-chaudhury/">Prof. Kunal Narayan Chaudhury</a> on Computer Vision. For more details, please refer to my <a href="{{ 'assets/files/Garvit_Resume.pdf' | relative_url }}">CV</a>.

  </p>
  <p>
    Broadly, my research interests lie in Artificial Intelligence, Operations Research and Economics. I have worked on Computer Vision, NLP and Speech projects. 
    
<!--      POCs and evaluations.  -->
<!--     Being a part of customer-facing wing that creates custom softwares tailored to customers' needs, I have gained an acute insight into business aspects along with sharpening my technical skills.  -->
<!--     I have experience developing software tailored to customers' needs which has allowed me to gain business acumen.  -->
  
<!--      During my graduate studies, I plan to engage in research in Computer Vision, NLP, and speech and have already taken my first steps towards this through my courses of Machine Learning, Spoken Langugage Technologies, Crytography and Operating Systems. Eventually, I want to leverage this knowledge to build large scale machine learning models for businesses. -->
<!--     Currently, I am excited about the potential of probabilistic and graphical methods in Neural Networks such as Graph Neural Networks, Message Passing Neural Networks, Belief Propagation Neural Networks.  -->
<!--     I am particularly interested in their applications in decision-making and medical diagnosis. -->
  </p>
  <!-- <p>
    I also enjoy Economics. I am excited . 
  </p> -->
<!--   <p> -->
<!--     Using the principles from <a href="https://www.calnewport.com/books/deep-work/">Cal Newton's Deep Work</a> as my guide, I intend to approach my graduate studies with the same fervor and commitment as he did. 
    I like to use my learnings from <a href="https://charlesduhigg.com/the-power-of-habit/">Charles Duhigg's The Power of Habit</a> to observe habits and routines in nature and organizations and try to develop ones that best suit me. -->
<!--   </p> -->
</div>    

{% comment %}
{% capture my_include %}{% include_relative _tabs/education.md %}{% endcapture %}
{{ my_include | markdownify }}
{% endcomment %}

<!-- <div style="width: 30%;float:left;display: flex;">
<img src="{{ 'assets/img/Profile copy 4.jpeg' | relative_url }}" alt="Garvit" onerror="this.style.display='none'" width="210" >
</div>
<div style="width:70%;float:right;">
<p>
  I am currently working as a Data Scientist at SAP Labs India, Bengaluru. I completed my undergraduate (B.Tech) from <a href="https://www.iitbhu.ac.in/dept/eee" >Department of Electrical Engineering</a> at <a href="https://www.iitbhu.ac.in/">Indian Institute of Technology (B.H.U) Varanasi</a>. My B. Tech. project was based on Probabilistic Graphical Models under guidance of <a href="https://sites.google.com/site/kvsrinivas/">Prof. K.V. Srinivas</a> and <a href="https://www.iitbhu.ac.in/dept/eee/people/sghosheee" >Prof. Sandip Ghosh</a>. {% link /assets/files/Garvit_Resume.pdf %}
</p>
<p>
  My primary research interests are in Machine Learning, Optimization and Operations Research. I am excited about the potential of probabilistic and graphical methods in Neural Networks such as Graph Neural Networks, Message Passing Neural Networks, Belief Propagation Neural Networks. I am particularly interested in their applications in decision-making and medical diagnosis.
</p>
<p>
  I also enjoy Economics. I am excited about the potential of probabilistic and graphical methods in Neural Networks such as Graph Neural Networks, Message Passing Neural Networks, Belief Propagation Neural Networks. 
</p>
</div>     -->
