---
layout: page
toc: true
# The Home page layout
---

{% include lang.html %}
<p> </p>

<div style="width: 32%;float:right;display: flex;">
  <img src="{{ 'assets/img/Profile copy 4.jpeg' | relative_url }}" alt="Garvit" onerror="this.style.display='none'" width="210" >
</div>
<div>
  <p>
    I am a second-year M.S. student in <a href="https://www.cs.utexas.edu/">Department of Computer Science</a> at the <a href="https://www.utexas.edu/">University of Texas at Austin</a>, advised by Prof. <a href="https://www.cs.utexas.edu/~harwath/">David Harwath</a> for my thesis. 
    Previously, I worked as a Data Scientist at <a href="https://www.sap.com/india/about/labs-india.html">SAP Labs India</a>, spearheading and developing custom machine learning and optimization solutions tailored to customers' needs.
      Prior to that, I completed my undergraduate (B.Tech) from <a href="https://www.iitbhu.ac.in/dept/eee" >Department of Electrical Engineering</a> at <a href="https://www.iitbhu.ac.in/">IIT (B.H.U) Varanasi</a>. 
    My B. Tech. project was based on Applications of Probabilistic Graphical Models under the guidance of <a href="https://sites.google.com/site/kvsrinivas/">Prof. K.V. Srinivas</a> and <a href="https://www.iitbhu.ac.in/dept/eee/people/sghosheee" >Prof. Sandip Ghosh</a>. 
    I also worked in <a href="https://sites.google.com/site/kunalnchaudhury/group?authuser=0">LISA Lab</a> with <a href="https://ee.iisc.ac.in/kunal-narayan-chaudhury/">Prof. Kunal Narayan Chaudhury</a> on Computer Vision. For more details, please refer to my <a href="{{ 'assets/files/Garvit_Resume.pdf' | relative_url }}">CV</a>.

  </p>
  <p>
    Broadly, my research interests lie in Artificial Intelligence, Operations Research and Economics. I have worked on Computer Vision, NLP and Speech projects. 
    
<!--      POCs and evaluations.  -->
<!--     Being a part of customer-facing wing that creates custom softwares tailored to customers' needs, I have gained an acute insight into business aspects along with sharpening my technical skills.  -->
<!--     I have experience developing software tailored to customers' needs which has allowed me to gain business acumen.  -->
  
<!--      During my graduate studies, I plan to engage in research in Computer Vision, NLP, and speech and have already taken my first steps towards this through my courses of Machine Learning, Spoken Langugage Technologies, Crytography and Operating Systems. Eventually, I want to leverage this knowledge to build large scale machine learning models for businesses. -->
<!--     Currently, I am excited about the potential of probabilistic and graphical methods in Neural Networks such as Graph Neural Networks, Message Passing Neural Networks, Belief Propagation Neural Networks.  -->
<!--     I am particularly interested in their applications in decision-making and medical diagnosis. -->
  </p>
  <!-- <p>
    I also enjoy Economics. I am excited . 
  </p> -->
<!--   <p> -->
<!--     Using the principles from <a href="https://www.calnewport.com/books/deep-work/">Cal Newton's Deep Work</a> as my guide, I intend to approach my graduate studies with the same fervor and commitment as he did. 
    I like to use my learnings from <a href="https://charlesduhigg.com/the-power-of-habit/">Charles Duhigg's The Power of Habit</a> to observe habits and routines in nature and organizations and try to develop ones that best suit me. -->
<!--   </p> -->
</div>    

{% comment %}
{% capture my_include %}{% include_relative _tabs/education.md %}{% endcapture %}
{{ my_include | markdownify }}
{% endcomment %}

<!-- <div style="width: 30%;float:left;display: flex;">
<img src="{{ 'assets/img/Profile copy 4.jpeg' | relative_url }}" alt="Garvit" onerror="this.style.display='none'" width="210" >
</div>
<div style="width:70%;float:right;">
<p>
  I am currently working as a Data Scientist at SAP Labs India, Bengaluru. I completed my undergraduate (B.Tech) from <a href="https://www.iitbhu.ac.in/dept/eee" >Department of Electrical Engineering</a> at <a href="https://www.iitbhu.ac.in/">Indian Institute of Technology (B.H.U) Varanasi</a>. My B. Tech. project was based on Probabilistic Graphical Models under guidance of <a href="https://sites.google.com/site/kvsrinivas/">Prof. K.V. Srinivas</a> and <a href="https://www.iitbhu.ac.in/dept/eee/people/sghosheee" >Prof. Sandip Ghosh</a>. {% link /assets/files/Garvit_Resume.pdf %}
</p>
<p>
  My primary research interests are in Machine Learning, Optimization and Operations Research. I am excited about the potential of probabilistic and graphical methods in Neural Networks such as Graph Neural Networks, Message Passing Neural Networks, Belief Propagation Neural Networks. I am particularly interested in their applications in decision-making and medical diagnosis.
</p>
<p>
  I also enjoy Economics. I am excited about the potential of probabilistic and graphical methods in Neural Networks such as Graph Neural Networks, Message Passing Neural Networks, Belief Propagation Neural Networks. 
</p>
</div>     -->
